.input_box {
width:90vw;
display:flex;
align-items:center;
justify-content:center;
margin: 0 5vw 0 5vw;
border-bottom: 1px solid white;
}

input[type=text] {
	width:80vw;
	margin-left:1vw;
	font-size:5vw; 
	font-family: Helvetica;
	color: white;
	border:none;
	background-color: transparent;
}

input[type=text]:focus {
    outline: none;
}

.textarea_box {
	width:90vw;
	height:25vh;
	vertical-align: top;
	margin: 0 5vw 0 5vw;
	border: 1px solid white;
}

textarea {
	width:80vw;
	height:25vh;
	margin-left:1vw;
	font-size:5vw;
	font-family: Helvetica;
	color: white;
	border:none;
	background-color: transparent;
}

textarea:focus {
    outline: none;
}
